$blue : rgba(153, 23, 49, 0.3); /* red (X) */
$blue-mute : rgba(153, 23, 49, 0.2); /* red (X) */
$red : rgba(23, 154, 143, 0.3); /* blue (Y) */
$red-mute : rgba(23, 154, 143, 0.2); /* blue (Y) */

.cell {
    width: 10vmin;
    height: 10vmin;
    border-style: solid;
    border-width: 5px;
    margin-right: -5px; /* enable box to overlap */
    margin-bottom: -5px; /* enable box to overlap */
    padding: 0;
}

.X {
    background-color: $red;
}

.O {
    background-color: $blue;
}

.tempX {
    background-color: $red-mute;
}

.tempO {
    background-color: $blue-mute;
}

.game-region {
    overflow: hidden;
    .board {
        margin-top: 1rem;
        .board-row {
            justify-content: center;
            margin: 0;
        }
        .last-row .cell {
            margin-bottom: 0;
        }
    }
    .connect4-status {
        display: flex;
        margin-top: 1rem;
        justify-content: center;
    }
    .jump-btn-group {
        display: flex;
        justify-content: center;
        ul {
            list-style-type: none; /* Remove bullets */
            padding: 0; /* Remove padding */
            margin: 0; /* Remove margins */
        }
        .jump-btn {

        }
    }
}

#alert-area {
    display: none;
    justify-content: center;
}

.form-switch {
    display: flex;
    justify-content: center;
}